/BlazorGrpcClient/bin
/BlazorGrpcClient/obj
/GrpcStudentsClient/bin
/GrpcStudentsClient/obj
/GrpcStudentsServer/bin
/GrpcStudentsServer/obj
/GrpcBasics.AppHost/bin
/GrpcBasics.AppHost/obj
/GrpcBasics.ServiceDefaults/bin
/GrpcBasics.ServiceDefaults/obj
