@page "/"
@using GrpcStudentsClient;

@inject StudentRemote.StudentRemoteClient _grpcClient

@code {
    private List<StudentModel> students = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await _grpcClient.RetrieveAllStudentsAsync(new Empty());
        students = response.Items.ToList();
    }
}

<h3>All Students</h3>
@if (students.Count == 0)
{
    <p>No students found.</p>
}
else
{
    <ul>
        @foreach (var student in students)
        {
            <li>@student.FirstName @student.LastName (ID: @student.StudentId, School: @student.School)</li>
        }
    </ul>
}